{{ define "main" }}
<h2 class="post_title">Posts Tagged &ldquo;{{ .Title }}&rdquo;</h2>
<ul>
  {{ range .Pages }}
  <li class="archive_list">
    <time style="color:#666;font-size:11px;" datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "01/02/06" }}</time>
    <a class="archive_list_article_link" href="{{ .Permalink }}">{{ .Title }}</a>
    <p class="summary">{{ .Params.summary }}</p>
    <ul class="tag_list">
      {{ range .Params.tags }}
      <li class="inline archive_list"><a class="tag_list_link" href="/tags/{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </li>
  {{ end }}
</ul>
{{ end }}
