<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta content="Buffalo Bill's Wild West" name="description" />
    <title>Progressive Wild West - {{ page.title }}</title>
    <meta name="author" content="Jason Heppler" />
    <link
      rel="stylesheet"
      href="/css/style.css"
      type="text/css"
      media="screen, projection"
    />

    <link
      href="http://fonts.googleapis.com/css?family=Bitter"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Mate"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911"
      rel="stylesheet"
      type="text/css"
    />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ baseurl }}/js/concept.js"></script>
    <script type="text/javascript" src="{{ baseurl }}/js/persist.js"></script>
    <script type="text/javascript" src="{{ baseurl }}/js/sorttable.js"></script>
  </head>

  <body>
    <div id="container">
      <header>
        <h1>
          <a class="header" href="/"
            >"Self-sustaining and a good citizen":<br />
            William F. Cody and the Progressive Wild West</a
          >
        </h1>
      </header>

      <ul id="dropnav">
        <li>
          <a href="{{ baseurl }}/introduction/">Introduction</a>
        </li>
        <li>
          <a href="{{ baseurl }}">Themes</a>
          <ul>
            <li>
              <a href="{{ baseurl }}/analysis/context/">Context</a>
            </li>
            <li>
              <a href="{{ baseurl }}/analysis/progressivism/"
                >Cody's Progressivism</a
              >
            </li>
            <li>
              <a href="{{ baseurl }}/analysis/advocate/"
                >The Wild West as Advocate</a
              >
            </li>
          </ul>
        </li>
        <ul>
          <a href="">Buffalo Bill's Wild West</a>
        </ul>
        <li>
          <a href="{{ baseurl }}/data/">Data and Methods</a>
          <ul>
            <li>
              <a href="{{ baseurl }}/posters/"
                >Wild West Publicity Images of Native Americans</a
              >
            </li>
            <li>
              <a href="{{ baseurl }}/concept-map/"
                >Concept Map of Narrative Themes</a
              >
            </li>
            <li>
              <a href="{{ baseurl }}/contracts/"
                >Comparison of Show Indian Contracts</a
              >
            </li>
            <li>
              <a href="{{ baseurl }}/topic-model/">Topic Modeling</a>
            </li>
            <li>
              <a href="{{ baseurl }}/database/">Database of Performers</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ baseurl }}/archive/">Archive</a>
        </li>

        <li>
          <a href="{{ baseurl }}/conclusions/">Conclusions</a>
        </li>
        <li>
          <a href="{{ baseurl }}/about/">About</a>
        </li>
      </ul>

      <div id="wrap">{{ content }}</div>

      <footer>
        <p>
          A project of <a href="http://jasonheppler.org">Jason A. Heppler</a>,
          George Mason University. &bull; Licensed
          <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY</a> &bull;
          <a href="{{ baseurl }}about/">About</a>
        </p>
      </footer>
    </div>
  </body>
</html>
